<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moni Backoffice</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>

  <div class="sidebar">
    <ul>
        {% if user.is_authenticated %}
          <li><a href="/">Home</a></li>
          <li><a href="/user">Ajustes</a></li>
          <li><a href="/loans">Préstamos</a></li>
        {% endif %}
    </ul>
  </div>

  <div class="header">
    <div class="user-info">
      {% if user.is_authenticated %}
        <span>Bienvenido, {{ user.username }}</span>
        <button onclick="window.location.href='/logout'">Cerrar Sesión</button>
      {% else %}
        <button onclick="window.location.href='/signup'">Crear usuario</button>
        <button onclick="window.location.href='/signin'">Iniciar Sesión</button>
      {% endif %}
    </div>
  </div>

  <div class="content">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <footer>
    <p>&copy; 2024 Moni. Todos los derechos reservados.</p>
  </footer>

</body>
</html>
